<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat by Go</title>
</head>
<body>
    Lets's Chat from template
    <ul id="messages"></ul>

    <form id="chatbox">
        {{ .User.name }}
        <br>
        <textarea></textarea>
        <input type="submit" value="send">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function() {
            var socket = null
            var messages = $("#messages")
            var msgBox = $("#chatbox textarea")

            if (!window["WebSocket"]) {
                alert("this browser support websocket")
                return
            }

            socket = new WebSocket("ws://{{ .Host }}/room")
            socket.onclose = function() {
                alert("websocket connection was closed")
            }
            socket.onmessage = function(e) {
                var msg = JSON.parse(e.data)
                messages.append(
                    $("<li>").append(
                        $("<img>").css({
                            width: 50,
                            verticalAlign: "middle",
                        }).attr("src", msg.AvatarURL),
                        $("<strong>").text(msg.Name + ": "),
                        $("<span>").text(msg.Message),
                    )
                )
            }

            $("#chatbox").submit(function() {
                var val = msgBox.val()
                if (!val) {
                    return false
                }

                if (!socket) {
                    alert("this browser is not connecting to websocket")
                    return false
                }

                socket.send(JSON.stringify({"Message": val}))
                msgBox.val("")
                return false
            })
        })
    </script>
</body>
</html>