<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat by Go</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <style>
        li {
            list-style: none;
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Chat by tomocy</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <ul id="messages"></ul>
            </div>
        </div>

        <form id="chatbox" role="form">
            <div class="form-group">
                <label for="message">Send message from {{ .User.name }}</label>
                or
                <a href="/logout">Logout</a>
                <textarea id="message" class="form-control"></textarea>
            </div>

            <input type="submit" value="send" class="btn btn-default">
        </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function() {
            var socket = null
            var messages = $("#messages")
            var msgBox = $("#chatbox textarea")

            if (!window["WebSocket"]) {
                alert("this browser support websocket")
                return
            }

            socket = new WebSocket("ws://{{ .Host }}/room")
            socket.onclose = function() {
                alert("websocket connection was closed")
            }
            socket.onmessage = function(e) {
                var msg = JSON.parse(e.data)
                messages.append(
                    $("<li>").append(
                        $("<img>").css({
                            width: 50,
                            verticalAlign: "middle",
                            marginRight: 15,
                        }).attr({
                            src: msg.AvatarURL,
                            title: msg.Name,
                        }),
                        $("<strong>").text(msg.Name + ": "),
                        $("<span>").text(msg.Message),
                    )
                )
            }

            $("#chatbox").submit(function() {
                var val = msgBox.val()
                if (!val) {
                    return false
                }

                if (!socket) {
                    alert("this browser is not connecting to websocket")
                    return false
                }

                socket.send(JSON.stringify({"Message": val}))
                msgBox.val("")
                return false
            })
        })
    </script>
</body>
</html>